<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SeleniumEcommerceAutomationFramework" parallel="false">

    <test name="Scenario Tests">
        <classes>
            <class name="AuthenticationTests"/>
            <class name="CartManagementTests"/>
            <class name="AccountAccessTests"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="TestListener"/>
    </listeners>
</suite>